* {
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    box-sizing: content-box;
    padding: 0;
    margin: 0;
}
header{
       
        background-image: url(../img/jumbo.png);
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: row;  
        flex-wrap: wrap;
        justify-content: center;

}
nav{
    width: 100%;
    display: flex;
    justify-content: space-around;
    color: white;
    font-size: 15px;
    align-items: center;
    margin-left: 200px;
    margin-right: 200px;
    padding-top: 10px;
    
}
a{
  text-decoration: none;
  color: white;
}
.container-nav-center{

                        display: flex;
                        justify-content: center;
                        align-content: space-between;
                        flex-grow: 2;
                        flex-wrap: wrap;
                        padding-left: 10px;                        
}
.container-nav-center>div{
                        margin: 8px;
                        padding-left: 20px;
}


.container-nav-side{
                        display: flex;
                        justify-content: space-around;
                        flex-grow: 1;
}
.container-nav-side>a{
                            border: none;
                            background-color:rgb(241, 241, 241);                           
                            border-radius: 10em;
                            color: black;
                            font-size: 12px;
                            padding-top: 10px;
                            padding-left: 5px;
                            padding-right: 5px;
                            padding-bottom: 5px; 
}   
.container-header{
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                    margin-top: 100px;
                    margin-bottom: 137px;
                    align-content: center;
                 
                    
}                    
.container-intro{
                    width: 700px;
                    color: white;
                    text-align: center; 
                    font-size: 15px;
                    line-height: 25px;
                    align-items: center;
}  
.download-for-mac{
                    border: none;
                    background-color:rgb(241, 241, 241);                           
                    border-radius: 14px 14px 11px;
                    color: rgb(0, 0, 0);
                    font-size: 15px;
                    padding-top: 5px;
                    padding-left: 5px;
                    padding-right: 5px;
                    padding-bottom: 5px; 
} 
.browser{
            border: none;
            background-color:rgb(44, 47, 51);                           
            border-radius: 14px 14px 11px;
            color: rgb(255, 255, 255);
            font-size: 15px;
            padding-top: 5px;
            padding-left: 5px;
            padding-right: 5px;
            padding-bottom: 5px; 
                   
  }
.container-section{
                        display: flex;
                        
                        justify-content: center;
}

.section-first{
                max-width: 1000px;
                display:flex;
                flex-wrap: nowrap;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                padding-top: 100px;
                flex-grow: 1;
                
}
.svg{
        flex-basis: 80%;
        flex-grow:2;
  }
.section-written{                        
                 flex-basis: 35%;
                 width: 200px;
  }
.section-second{
                    display:flex;
                    flex-wrap: nowrap;
                    flex-direction: row-reverse;
                    align-items: center;
                    padding-top: 100px;
                    
                    
}

.svg-second{
            flex-basis: 60%;      
}
.section-written2{                        
                flex-basis: 35%;
                width: 300px;
}
.section-written3{                        
                text-align: center;
                width: 950px;
}      

.section-third{
    max-width: 1000px;
    display:flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    padding-top: 100px;
}
.svg-third{
            flex-basis: 50%;      
}
.section-third div{                        
                    flex-basis:50%;
}
.section-fourth{
                display:flex;
                flex-wrap: nowrap;
                flex-direction: column;
                align-items: center;
                padding-top: 100px;
                text-align: center;
               
}
.wave{
        display: block;
        fill:grey;
}                
              
           
.stars{
        width: 700px;
        background-image:url(../img/stars.svg);
        background-repeat: no-repeat;
        background-size: contain;
        margin-bottom: 100px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        
}
.star-botton{
             border: none;
             background-color:rgb(114, 137, 218);                           
             border-radius: 14px 14px 11px;
             color: rgb(255, 255, 255);
             font-size: 15px;
             margin-top: 40px;
             padding-top: 8px;
             padding-left: 8px;
             padding-right: 8px;
             padding-bottom: 8px;
             max-width: 200px;
             align-self: center;
}
.footer{
        background-color: rgb(44, 47, 51);
        display: flex;
        justify-content: center;
}
.container-footer{
                  display: flex;
                  justify-content: space-around;
                   width: 800px;
                   align-content: space-between ;
                 
}                   
.footer img{
            max-width: 30px;
}
footer li{
          list-style-type: none;
}

.footer-column{
                display:flex;
                padding-top: 20px;
                color: white;
                font-size: smaller;
}            
.footer-column-ita{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                      
}
.titles{
        color: rgb(114, 137, 218);
}
hr{
  color: white;
}
.social{
        color: white;
}
.footer-column li{
                 padding: 10px 20px;
}
.footer-column-ita span{
                      padding: 6px 4px;
}
.footer-column-ita h2{
                      padding-top: 23px;
                      padding-bottom: 29px ;
                      padding-right: 20px;
                      padding-left: 0px;
}
.footer-column-ita a{
                  color: white;
                  padding-top: 4px;
                  padding-bottom: 24px ;
                  padding-right: 110px;
                  padding-left: 1px;
}
.social{
        padding-top: 4px;
        padding-bottom: 24px ;
        padding-right: 110px;
        padding-left: 1px;
}
.lastfooter{
              display: flex;
              justify-content: space-between;
              background-color:rgb(44, 47, 51);
              align-content: center;
              padding-left: 400px;
              padding-top: 10px;
              padding-bottom: 10px;
              padding-right: 460px;
}
.sign-up{
            border: none;
            background-color:rgb(114, 137, 218);                           
            border-radius: 14px 14px 11px;
            color: rgb(255, 255, 255);
            font-size: 15px;
            padding-top: 8px;
            padding-left: 5px;
            padding-right: 5px;
            padding-bottom: 5px;
              
           
}            
             

 
     
        


  

            
       
                     
             
              
               
                    
                    
                           

                                   
               
                
                

                  
                  


                         
                  




                
                







                                                

             





                




